#filterDiv {
    background-color: lightgrey;
}

.filterInput {
    height: 1.5rem;
    width: 6rem;
    margin-right: 0.4rem;
}

input {
    margin-right: 0.4rem;
}

form.searchForm button {
    width: 3rem;
    height: 3rem;
    padding: 0px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.searchForm button:hover {
    background: #0b7dda;
}

.card.housingCard:hover {
    position: relative;
    transition-delay: 1s;
    z-index: 999;
    scale: 1.5;
    cursor: pointer;
}

#housingSearch {
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: lightgray;
    width: 100%;
}

#housingImg {
    position: absolute;
    left: 10%;
    top: 15%;
}

#housingPCard {
    position: absolute;
    right: 10%;
    top: 25%;
}

#landLord {
    position: absolute;
    right: 10%;
    top: 65%;
}

#contractBtn {
    background-color: #2196F3;
}

#contactBtn {
    background-color: #2196F3;
}

#bigInfo {
    position: absolute;
    bottom: 30%;
    left: 10%;
}

#contract {
    position: absolute;
    background-color: lightblue;
    left: 25%;
    top: 20%;
    width: 50%;
    height: 50%;
    z-index: 100;
}